/*==================================================================================================
Color Theme 05
==================================================================================================*/
@import "master/master_color_theme_05";



/*==================================================================================================
Foundation Variables
==================================================================================================*/
$primary-color: shade($color-dark, 20%);
$secondary-color: $color-highlight;
$alert-color: $color-highlight;
$success-color: $color-highlight;

$body-bg: tint($color-light, 10%);

$body-font-color: shade($color-dark, 20%);
$anchor-font-color-hover: $color-highlight;
$header-font-color: shade($color-dark, 20%);

$hr-border-color: $color-dark-on-light-30;



/*==================================================================================================
My Variables
==================================================================================================*/
$color-top-border: $color-light;
$color-logo: shade($color-dark, 20%);
$color-tagline: tint($color-dark, 10%);
$color-nav-current: $color-dark-on-light-50;
$color-thumbnail-hover: $color-highlight;
$color-link-underline: $color-dark-on-light-40;
$color-footer-text: tint($color-dark, 10%);