/*==================================================================================================
Type Theme 03
==================================================================================================*/
//@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic);



/*==================================================================================================
My Variables
==================================================================================================*/
$font-name1: "Playfair Display";
$font-name2: "Playfair Display";
$font-stack: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
@import "master/blog_type_03";

$p-small-font-size: rem-calc(14px);
$p-small-line-height: 1.5;
$p-smaller-font-size: rem-calc(12px);
$p-smaller-line-height: 1.5;

$logo-font-family: $font-name2, $font-stack;
$logo-font-weight: bold;
$logo-font-style: normal;
$logo-font-size: rem-calc(36px);
$logo-font-size-small: rem-calc(30px);
$logo-line-height: 1.3;
$logo-letter-spacing: 0;
$logo-text-transform: none;

$tagline-font-family: $font-name2, $font-stack;
$tagline-font-weight: normal;
$tagline-font-style: normal;
$tagline-font-size: rem-calc(13px);
$tagline-font-size-small: rem-calc(12px);
$tagline-line-height: 1.3;
$tagline-letter-spacing: 0.2em;
$tagline-text-transform: uppercase;

$nav-font-family: $font-name2, $font-stack;
$nav-font-weight: normal;
$nav-font-style: normal;
$nav-font-size: rem-calc(16px);
$nav-line-height: 2;
$nav-letter-spacing: 0;
$nav-text-transform: none;

$thumbnail-caption-font-family: $font-name1, $font-stack;
$thumbnail-caption-font-weight: bold;
$thumbnail-caption-font-style: normal;
$thumbnail-caption-font-size: rem-calc(14px);
$thumbnail-caption-line-height: 1.5;
$thumbnail-caption-letter-spacing: 0;
$thumbnail-caption-text-transform: none;

$body-header1-font-family: $font-name2, $font-stack;
$body-header1-font-weight: normal;
$body-header1-font-style: italic;
$body-header1-font-size: rem-calc(30px);
$body-header1-font-size-small: rem-calc(24px);
$body-header1-line-height: 1.3;
$body-header1-letter-spacing: 0;
$body-header1-text-transform: none;

$body-header2-font-family: $font-name2, $font-stack;
$body-header2-font-weight: normal;
$body-header2-font-style: italic;
$body-header2-font-size: rem-calc(21px);
$body-header2-font-size-small: rem-calc(18px);
$body-header2-line-height: 1.3;
$body-header2-letter-spacing: 0;
$body-header2-text-transform: none;

$lined-list-strong-font-family: $font-name1, $font-stack;
$lined-list-strong-font-weight: bold;
$lined-list-strong-font-style: normal;
$lined-list-strong-font-size: inherit;
$lined-list-strong-line-height: 1.3;
$lined-list-strong-letter-spacing: 0;
$lined-list-strong-text-transform: none;

$lined-list-font-family: $font-name1, $font-stack;
$lined-list-font-weight: normal;
$lined-list-font-style: normal;
$lined-list-font-size: inherit;
$lined-list-line-height: 1.5;
$lined-list-letter-spacing: 0;
$lined-list-text-transform: none;

$footer-font-family: $font-name1, $font-stack;
$footer-font-weight: normal;
$footer-font-style: normal;
$footer-font-size: rem-calc(14px);
$footer-line-height: 1.6;
$footer-letter-spacing: 0;
$footer-text-transform: none;



/*==================================================================================================
Foundation Variables
==================================================================================================*/
$body-font-family: $font-name1, $font-stack;
$header-font-family: $font-name2, $font-stack;
$paragraph-line-height: 1.6;



/*==================================================================================================
Spacing Adjustments
==================================================================================================*/


