/*==================================================================================================
Color Theme 01
==================================================================================================*/
@import "master/master_color_theme_01";



/*==================================================================================================
Foundation Variables
==================================================================================================*/
$primary-color: shade($color-dark, 30%);
$secondary-color: $color-highlight;
$alert-color: $color-highlight;
$success-color: $color-highlight;

$body-bg: tint($color-light, 60%);

$body-font-color: shade($color-dark, 30%);
$anchor-font-color-hover: $color-highlight;
$header-font-color: shade($color-dark, 30%);

$hr-border-color: $color-dark-on-light-20;

$input-font-color: shade($color-dark, 30%);
$input-bg-color: tint($color-light, 90%);
$input-focus-bg-color: #fff;
$input-border-color: shade($color-dark, 15%);
$input-focus-border-color: #fff;



/*==================================================================================================
My Variables
==================================================================================================*/
$color-logo: tint($color-light, 20%);
$color-logo-border: shade($color-light, 10%);
$color-header-bg: shade($color-dark, 10%);

$color-nav: shade($color-dark, 0%);
$color-nav-hover: $color-highlight;
$color-nav-current: tint($color-dark, 40%);
$color-nav-border-top: shade($color-dark, 10%);
$color-nav-border-bottom: shade($color-light, 3%);
$color-nav-bg: tint($color-light, 98%);

$color-section-headline-bg: tint($color-light, 60%);
$color-section-bg-color1: tint($color-light, 98%);
$color-section-bg-color2: tint($color-light, 60%);
$color-section-border: tint($color-light, 1%);

$color-headline: shade($color-dark, 30%);
$color-subheadline: shade($color-dark, 0%);

$color-download-box-bg: shade($color-dark, 15%);
$color-download-box-text: tint($color-light, 90%);
$color-download-box-button: $color-highlight;
$color-download-box-button-hover: tint($color-dark, 30%);
$color-download-box-border: tint($color-dark, 40%);

$color-box-border: $color-dark-on-light-30;
$color-feature-box-border: $color-dark-on-light-30;
$color-link-underline: $color-dark-on-light-40;

$color-step-bg: shade($color-dark, 10%);
$color-step-number: tint($color-light, 50%);

$color-section-button: $color-highlight;
$color-section-button-hover: shade($color-dark, 0%);

$color-footer-text: shade($color-dark, 20%);