/*==================================================================================================
Color Theme 06
==================================================================================================*/
@import "master/master_color_theme_06";



/*==================================================================================================
Foundation Variables
==================================================================================================*/
$primary-color: shade($color-dark, 40%);
$secondary-color: shade($color-highlight, 20%);
$alert-color: shade($color-highlight, 20%);
$success-color: shade($color-highlight, 20%);

$body-bg: tint($color-light, 70%);

$body-font-color: shade($color-dark, 40%);
$anchor-font-color-hover: shade($color-highlight, 20%);
$header-font-color: shade($color-dark, 40%);

$hr-border-color: $color-dark-on-light-10;

$input-font-color: shade($color-dark, 40%);
$input-bg-color: tint($color-light, 90%);
$input-focus-bg-color: #fff;
$input-border-color: shade($color-dark, 40%);
$input-focus-border-color: #fff;



/*==================================================================================================
My Variables
==================================================================================================*/
$color-logo: tint($color-light, 80%);
$color-logo-border: tint($color-light, 20%);
$color-header-bg: shade($color-dark, 40%);

$color-nav: shade($color-dark, 20%);
$color-nav-hover: shade($color-highlight, 20%);
$color-nav-current: tint($color-dark, 50%);
$color-nav-border-top: shade($color-dark, 35%);
$color-nav-border-bottom: tint($color-light, 10%);
$color-nav-bg: tint($color-light, 90%);

$color-section-headline-bg: tint($color-light, 70%);
$color-section-bg-color1: tint($color-light, 90%);
$color-section-bg-color2: tint($color-light, 70%);
$color-section-border: tint($color-light, 10%);

$color-headline: shade($color-dark, 40%);
$color-subheadline: shade($color-dark, 20%);

$color-download-box-bg: shade($color-dark, 40%);
$color-download-box-text: tint($color-light, 80%);
$color-download-box-button: shade($color-highlight, 20%);
$color-download-box-button-hover: tint($color-dark, 30%);
$color-download-box-border: tint($color-dark, 20%);

$color-box-border: $color-dark-on-light-10;
$color-feature-box-border: $color-dark-on-light-10;
$color-link-underline: $color-dark-on-light-40;

$color-step-bg: shade($color-dark, 20%);
$color-step-number: tint($color-light, 50%);

$color-section-button: shade($color-highlight, 40%);
$color-section-button-hover: shade($color-dark, 60%);

$color-footer-text: shade($color-dark, 30%);