/*==================================================================================================
Color Theme 09
==================================================================================================*/
@import "master/master_color_theme_09";



/*==================================================================================================
Foundation Variables
==================================================================================================*/
$primary-color: shade($color-highlight, 30%);
$secondary-color: shade($color-highlight, 30%);
$alert-color: shade($color-highlight, 30%);
$success-color: shade($color-highlight, 30%);

$body-bg: tint($color-light, 50%);

$body-font-color: shade($color-highlight, 30%);
$anchor-font-color-hover: $color-highlight;
$header-font-color: shade($color-highlight, 30%);

$hr-border-color: $color-dark-on-light-30;

$input-font-color: shade($color-highlight, 30%);
$input-bg-color: tint($color-light, 90%);
$input-focus-bg-color: #fff;
$input-border-color: tint($color-dark, 5%);
$input-focus-border-color: #fff;



/*==================================================================================================
My Variables
==================================================================================================*/
$color-logo: tint($color-light, 50%);
$color-logo-border: tint($color-light, 10%);
$color-header-bg: tint($color-dark, 5%);

$color-nav: shade($color-highlight, 30%);
$color-nav-hover: $color-highlight;
$color-nav-current: tint($color-dark, 55%);
$color-nav-border-top: tint($color-dark, 5%);
$color-nav-border-bottom: tint($color-dark, 85%);
$color-nav-bg: tint($color-light, 90%);

$color-section-headline-bg: tint($color-light, 50%);
$color-section-bg-color1: tint($color-light, 90%);
$color-section-bg-color2: tint($color-light, 50%);
$color-section-border: tint($color-light, 0%);

$color-headline: shade($color-highlight, 30%);
$color-subheadline: shade($color-highlight, 30%);

$color-download-box-bg: tint($color-dark, 5%);
$color-download-box-text: tint($color-light, 90%);
$color-download-box-button: tint($color-dark, 35%);
$color-download-box-button-hover: tint($color-dark, 45%);
$color-download-box-border: tint($color-dark, 40%);

$color-box-border: $color-dark-on-light-20;
$color-feature-box-border: $color-dark-on-light-20;
$color-link-underline: $color-dark-on-light-40;

$color-step-bg: shade($color-highlight, 30%);
$color-step-number: tint($color-light, 10%);

$color-section-button: shade($color-highlight, 30%);
$color-section-button-hover: $color-highlight;

$color-footer-text: shade($color-highlight, 30%);