/*==================================================================================================
Mixins
==================================================================================================*/
@mixin transition-color {
	-webkit-transition: color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

@mixin transition-border {
	-webkit-transition: border 0.2s ease-out;
	-moz-transition: border 0.2s ease-out;
	transition: border 0.2s ease-out;
}

@mixin transition-background-color {
	-webkit-transition: background-color 0.3s ease-out !important;
	-moz-transition: background-color 0.3s ease-out !important;
	transition: background-color 0.3s ease-out !important;
}



/*==================================================================================================
Blog
==================================================================================================*/

aside.blog-sidebar h5 {
	text-align: center;
}

aside.blog-sidebar h5, .related-posts h5 {
	font-family: $blog-sidebar-header-font-family;
	font-weight: $blog-sidebar-header-font-weight;
    font-style: $blog-sidebar-header-font-style;
	font-size: $blog-sidebar-header-font-size;
	line-height: $blog-sidebar-header-line-height;
	letter-spacing: $blog-sidebar-header-letter-spacing;
	text-transform: $blog-sidebar-header-text-transform;
	padding-bottom: 0.5em;
}

aside.blog-sidebar li, aside.blog-sidebar p {
	font-family: $blog-sidebar-link-font-family;
	font-weight: $blog-sidebar-link-font-weight;
    font-style: $blog-sidebar-link-font-style;
	font-size: $blog-sidebar-link-font-size;
	line-height: $blog-sidebar-link-line-height;
	letter-spacing: $blog-sidebar-link-letter-spacing;
	text-transform: $blog-sidebar-link-text-transform;	
	list-style-type: none;
	padding-bottom: 1em;
	text-align: center;
}

aside.blog-sidebar ul {
	margin-left: 0;
}

aside.blog-sidebar ul li {
	list-style-type: none;
	margin-left: 0;
}

aside.blog-sidebar ul li a, aside.blog-sidebar ul li a:hover, aside.blog-sidebar p a, aside.blog-sidebar p a:hover, article h1 a, article h1 a:hover {
	border-bottom: none !important;
	text-decoration: none;
	@include transition-color;
}

article {
	border-bottom: 1px solid $hr-border-color;
	padding-bottom: 1.25em;
	margin-bottom: 2.5em;
}

article h1, h1.archive-title {
	font-family: $blog-headline-font-family;
	font-weight: $blog-headline-font-weight;
    font-style: $blog-headline-font-style;
	font-size: $blog-headline-font-size-small;
	line-height: $blog-headline-line-height;
	letter-spacing: $blog-headline-letter-spacing;
	text-transform: $blog-headline-text-transform;
}

article h6.date {
	font-family: $blog-date-font-family;
	font-weight: $blog-date-font-weight;
    font-style: $blog-date-font-style;
	font-size: $blog-date-font-size;
	line-height: $blog-date-line-height;
	letter-spacing: $blog-date-letter-spacing;
	text-transform: $blog-date-text-transform;
	margin-bottom: 1.5em;
}

article p, article li {
	font-family: $blog-font-family;
    font-size: $blog-font-size-small;
    line-height: $blog-line-height;
}

article p a {
	@include transition-color;
}

article p.byline {
	font-family: $blog-date-font-family;
	font-weight: $blog-date-font-weight;
    font-style: $blog-date-font-style;
	font-size: $blog-date-font-size;
	line-height: $blog-date-line-height;
	letter-spacing: $blog-date-letter-spacing;
	text-transform: $blog-date-text-transform;
}

article img {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

article .caption {
	@extend .p-small;
	margin-top: -1em;
}

.comments {
	border-top: 1px solid $hr-border-color;
	margin-top: 3em;
	padding-top: 3em;
	padding-bottom: 1em;
}

div div div article h2 {
	font-family: $blog-subheader-font-family;
	font-weight: $blog-subheader-font-weight;
    font-style: $blog-subheader-font-style;
	font-size: $blog-subheader-font-size;
	line-height: $blog-subheader-line-height;
	letter-spacing: $blog-subheader-letter-spacing;
	text-transform: $blog-subheader-text-transform;
	padding-bottom: 0.25em;
}

div div div article h3 {
	font-weight: bold;
	font-size: $blog-font-size-small;
}

.related-posts {
	margin-top: 2em;
	margin-bottom: 1.5em;
}

.related-posts h5 {
	margin-bottom: 0.25em;
}

.related-posts ul {
	list-style-type: none;
	margin-left: 0;
}

.related-posts ul li {
	margin-left: 0;
	line-height: 1.8;
	font-family: $blog-sidebar-link-font-family;
	font-weight: $blog-sidebar-link-font-weight;
    font-style: $blog-sidebar-link-font-style;
	font-size: $blog-sidebar-link-font-size;
	line-height: $blog-sidebar-link-line-height;
	letter-spacing: $blog-sidebar-link-letter-spacing;
	text-transform: $blog-sidebar-link-text-transform;	
}

h1.archive-title {
	text-align: center;
	margin-bottom: 1.25em;
}

.archive-item {
	margin-bottom: 2em;
}

.archive-item h2 a {
	@include transition-border;
	@include transition-color;
	border-bottom: 1px solid $color-link-underline;
	padding-bottom: 2px;
	text-decoration: none;
}

.archive-item h2 a:hover {
	border-bottom: 1px solid $anchor-font-color-hover;
	@include transition-color;
}

.archive-item h2 {
	font-family: $blog-archive-font-family;
	font-weight: $blog-archive-font-weight;
    font-style: $blog-archive-font-style;
	font-size: $blog-archive-font-size;
	line-height: $blog-archive-line-height;
	letter-spacing: $blog-archive-letter-spacing;
	text-transform: $blog-archive-text-transform;
	text-align: center;
}

.archive-item h6.date {
	font-family: $blog-archive-date-font-family;
	font-weight: $blog-archive-date-font-weight;
    font-style: $blog-archive-date-font-style;
	font-size: $blog-archive-date-font-size;
	line-height: $blog-archive-date-line-height;
	letter-spacing: $blog-archive-date-letter-spacing;
	text-transform: $blog-archive-date-text-transform;
	text-align: center;
	padding-top: 0.125em;
}

.pagination-custom {
	margin-bottom: 2em;
}

.pagination-custom p span {
	font-family: $blog-nav-font-family;
	font-weight: $blog-nav-font-weight;
    font-style: $blog-nav-font-style;
	font-size: $blog-nav-font-size;
	line-height: $blog-nav-line-height;
	letter-spacing: $blog-nav-letter-spacing;
	text-transform: $blog-nav-text-transform;
	color: $color-nav-current;
}

.pagination-custom a, .pagination-custom a:hover {
	border-bottom: none !important;
	@include transition-color;
}

.pagination-left {
	padding-right: 1em;
}



/*==================================================================================================
Media Queries
==================================================================================================*/

@media #{$small} {

	aside.blog-sidebar h5 {
		text-align: left;
	}

	aside.blog-sidebar li, aside.blog-sidebar p {
		text-align: left;
	}
	
	article h1, h1.archive-title {
		font-size: $blog-headline-font-size;
	}
	
	article p, article li, div div div article h3 {
		font-size: $blog-font-size;
	}
	
}