/*==================================================================================================
Master Color Theme 08
==================================================================================================*/
$color-highlight: #e56c5b;
$color-dark: #407ca1;
$color-light: #e0e3e4;

$color-light-on-dark-90: #d0d9dd;
$color-light-on-dark-80: #c0ced7;
$color-light-on-dark-70: #b0c4d0;
$color-light-on-dark-60: #a0bac9;
$color-light-on-dark-50: #90b0c3;
$color-light-on-dark-40: #80a5bc;
$color-light-on-dark-30: #709bb5;
$color-light-on-dark-20: #6091ae;
$color-light-on-dark-15: #588bab;
$color-light-on-dark-10: #5087a8;
$color-light-on-dark-05: #4881a4;

$color-dark-on-light-90: #5086a8;
$color-dark-on-light-80: #6091ae;
$color-dark-on-light-70: #709bb5;
$color-dark-on-light-60: #80a5bc;
$color-dark-on-light-50: #90afc2;
$color-dark-on-light-40: #a0bac9;
$color-dark-on-light-30: #b0c4d0;
$color-dark-on-light-20: #c0ced7;
$color-dark-on-light-15: #c8d4da;
$color-dark-on-light-10: #d0d8dd;
$color-dark-on-light-05: #d8dee1;