/*==================================================================================================
Master Color Theme 03
==================================================================================================*/
$color-highlight: #1a5f99;
$color-dark: #112535;
$color-light: #dacbbf;

$color-light-on-dark-90: #c6bbb1;
$color-light-on-dark-80: #b2aaa3;
$color-light-on-dark-70: #9e9a96;
$color-light-on-dark-60: #8a8988;
$color-light-on-dark-50: #76787a;
$color-light-on-dark-40: #61676c;
$color-light-on-dark-30: #4e575f;
$color-light-on-dark-20: #394651;
$color-light-on-dark-15: #2f3e4a;
$color-light-on-dark-10: #253643;
$color-light-on-dark-05: #1b2d3c;

$color-dark-on-light-90: #253543;
$color-dark-on-light-80: #394651;
$color-dark-on-light-70: #4d565e;
$color-dark-on-light-60: #61676c;
$color-dark-on-light-50: #75787a;
$color-dark-on-light-40: #8a8988;
$color-dark-on-light-30: #9d9995;
$color-dark-on-light-20: #b2aaa3;
$color-dark-on-light-15: #bcb2aa;
$color-dark-on-light-10: #c6bab1;
$color-dark-on-light-05: #d0c3b8;