<div>
	<div class="row first-row">
		<div class="{{ if has_sidebar }} large-8 medium-push-4 medium-8 columns {{ else }} small-12 medium-9 large-8 columns small-centered {{ endif }}">
			{{ entries:listing folder="blog" limit="{ num_blog_posts_per_page }" }}	
			<article>
				<h1><a href="{{ url }}">{{ title }}</a></h1>
				<h6 class="date">{{ date }}</h6>
				{{ excerpt|markdown|smartypants }}
				{{ if copy_blog_read_more }}<p><a href="{{ url }}">{{ copy_blog_read_more }}</a></p>{{ endif }}
			</article>
			{{ /entries:listing }}
			
			{{ entries:pagination folder="blog" limit="{ num_blog_posts_per_page }" }}
			{{ if total_pages > 1 }}
			<div class="pagination-custom pagination-centered">
				<p>
					<span class="pagination-left">
						{{ if previous_page }}
						<a href="{{ previous_page }}">&larr; {{ copy_prev }}</a>
						{{ else }}
						&larr; {{ copy_prev }}
						{{ endif }}
					</span>					
					<span class="pagination-right">
						{{ if next_page }}
						<a href="{{ next_page }}">{{ copy_next }} &rarr;</a>
						{{ else }}
						{{ copy_next }} &rarr;
						{{ endif }}
					</span>
				</p>
			</div>
			{{ endif }}
			{{ /entries:pagination }}
		</div>
		
		{{ if has_sidebar }}
		<div class="large-4 medium-4 medium-pull-8 columns">
			<aside class="blog-sidebar">
				<h5>{{ copy_blog_categories }}</h5>
				<ul>
					{{ taxonomy:listing folder="blog" type="categories" sort_by="name" sort_dir="asc" }}
					<li><a href="{{ url }}">{{ name|title }} {{ if has_categories_count }}({{ results }}){{ endif }}</a></li>
					{{ /taxonomy:listing }}
				</ul>
				{{ if copy_blog_archive }}<p><a href="/{{ segment_1 }}/{{ blog_archive_url_segment }}">{{ copy_blog_archive }}</a></p>{{ endif }}
			</aside>
		</div>
		{{ endif }}
	</div>
</div>