<div>
	<div class="row first-row">
		<div class="small-12 small-centered medium-8 large-8 columns">
			<h1 class="archive-title">{{ get_content from="/{ segment_1 }" }}{{ copy_blog_categories_title }}{{ /get_content }} &ldquo;{{ taxonomy_slug|deslugify|title }}&rdquo;</h1>
			{{ entries:listing folder="blog" taxonomy="true" }}	
			<div class="archive-item">
				<h2><a href="{{ url }}">{{ title }}</a></h2>
				<h6 class="date">{{ date }}</h6>
			</div>
			{{ /entries:listing }}
		</div>
	</div>
</div>