{{ if !headline_hide }}
{{ theme:partial src="_headline" }}
{{ endif }}

{{ if !hero_hide }}
{{ theme:partial src="_hero" }}
{{ endif }}

{{ if !one_img_hide }}
{{ theme:partial src="_one_img" }}
{{ endif }}

{{ if !features_hide }}
{{ theme:partial src="_features" }}
{{ endif }}

{{ if !steps_hide }}
{{ theme:partial src="_steps" }}
{{ endif }}

{{ if !pricing_features_hide }}
{{ theme:partial src="_pricing_features" }}
{{ endif }}

{{ if !four_img_hide }}
{{ theme:partial src="_four_img" }}
{{ endif }}

{{ if !html_section_hide }}
{{ theme:partial src="_section_html" }}
{{ endif }}

{{ if !html_section2_hide }}
{{ theme:partial src="_section_html2" }}
{{ endif }}

{{ if !faq_hide }}
{{ theme:partial src="_faq" }}
{{ endif }}