/*==================================================================================================
Master Color Theme 05
==================================================================================================*/
$color-highlight: #3fae60;
$color-dark: #434a45;
$color-light: #efebe2;

$color-light-on-dark-90: #dedbd3;
$color-light-on-dark-80: #cdcbc3;
$color-light-on-dark-70: #bcbbb3;
$color-light-on-dark-60: #aaaba3;
$color-light-on-dark-50: #999b94;
$color-light-on-dark-40: #888a84;
$color-light-on-dark-30: #777b74;
$color-light-on-dark-20: #656a64;
$color-light-on-dark-15: #5d625c;
$color-light-on-dark-10: #555a55;
$color-light-on-dark-05: #4c524d;

$color-dark-on-light-90: #545a54;
$color-dark-on-light-80: #656a64;
$color-dark-on-light-70: #767a74;
$color-dark-on-light-60: #888a84;
$color-dark-on-light-50: #999a93;
$color-dark-on-light-40: #aaaba3;
$color-dark-on-light-30: #bbbab3;
$color-dark-on-light-20: #cdcbc3;
$color-dark-on-light-15: #d5d3cb;
$color-dark-on-light-10: #dddbd2;
$color-dark-on-light-05: #e6e3da;