/*==================================================================================================
Master Color Theme 10
==================================================================================================*/
$color-highlight: #916a70;
$color-dark: #000000;
$color-light: #e2e8f2;

$color-light-on-dark-90: #ccd1da;
$color-light-on-dark-80: #b5bac2;
$color-light-on-dark-70: #9fa3aa;
$color-light-on-dark-60: #888b91;
$color-light-on-dark-50: #717479;
$color-light-on-dark-40: #5a5d61;
$color-light-on-dark-30: #444649;
$color-light-on-dark-20: #2d2e30;
$color-light-on-dark-15: #222324;
$color-light-on-dark-10: #171819;
$color-light-on-dark-05: #0c0c0c;

$color-dark-on-light-90: #161718;
$color-dark-on-light-80: #2d2e30;
$color-dark-on-light-70: #434548;
$color-dark-on-light-60: #5a5d61;
$color-dark-on-light-50: #717479;
$color-dark-on-light-40: #888b91;
$color-dark-on-light-30: #9ea2a9;
$color-dark-on-light-20: #b5bac2;
$color-dark-on-light-15: #c0c5ce;
$color-dark-on-light-10: #cbd0d9;
$color-dark-on-light-05: #d6dce6;