/*==================================================================================================
Master Color Theme 01
==================================================================================================*/
$color-highlight: #d37961;
$color-dark: #454a56;
$color-light: #e6dddb;

$color-light-on-dark-90: #d6cfce;
$color-light-on-dark-80: #c6c0c0;
$color-light-on-dark-70: #b6b1b3;
$color-light-on-dark-60: #a6a2a6;
$color-light-on-dark-50: #969499;
$color-light-on-dark-40: #85858b;
$color-light-on-dark-30: #76767e;
$color-light-on-dark-20: #656771;
$color-light-on-dark-15: #5d606a;
$color-light-on-dark-10: #555964;
$color-light-on-dark-05: #4d515d;

$color-dark-on-light-90: #555863;
$color-dark-on-light-80: #656771;
$color-dark-on-light-70: #75767e;
$color-dark-on-light-60: #85858b;
$color-dark-on-light-50: #959398;
$color-dark-on-light-40: #a6a2a6;
$color-dark-on-light-30: #b5b1b3;
$color-dark-on-light-20: #c6c0c0;
$color-dark-on-light-15: #cec7c7;
$color-dark-on-light-10: #d6cecd;
$color-dark-on-light-05: #ded6d4;