/*==================================================================================================
Master Color Theme 06
==================================================================================================*/
$color-highlight: #a1998f;
$color-dark: #615c56;
$color-light: #d0ccc7;

$color-light-on-dark-90: #c5c1bc;
$color-light-on-dark-80: #bab6b0;
$color-light-on-dark-70: #afaba5;
$color-light-on-dark-60: #a49f9a;
$color-light-on-dark-50: #99948f;
$color-light-on-dark-40: #8d8983;
$color-light-on-dark-30: #837e78;
$color-light-on-dark-20: #77726d;
$color-light-on-dark-15: #726d67;
$color-light-on-dark-10: #6c6762;
$color-light-on-dark-05: #67625c;

$color-dark-on-light-90: #6c6761;
$color-dark-on-light-80: #77726d;
$color-dark-on-light-70: #827d78;
$color-dark-on-light-60: #8d8983;
$color-dark-on-light-50: #98948e;
$color-dark-on-light-40: #a49f9a;
$color-dark-on-light-30: #aeaaa5;
$color-dark-on-light-20: #bab6b0;
$color-dark-on-light-15: #bfbbb6;
$color-dark-on-light-10: #c5c1bb;
$color-dark-on-light-05: #cac6c1;