<div class="section-faq {{ if color_faq_bg == "color_1" }} section-bg-color1 {{ else }} section-bg-color2 {{ endif }}">
	<div class="row">
		<div class="small-12 medium-12 large-12 columns">
			<h3>{{ get_content from="/home" }}{{ copy_faq_header|smartypants }}{{ /get_content }}</h3>
			<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 questions inline-list-custom">
				{{ faq_grid }}
				<li>
					<h4>{{ faq_header|smartypants }}</h4>
					<p>{{ faq_paragraph|smartypants }}</p>
				</li>
				{{ /faq_grid }}
			</ul>
			{{ if copy_faq_button }}
			<div class="section-btn"><a href="{{ get_content from="/home" }}{{ faq_button_url }}{{ /get_content }}" class="button round">{{ get_content from="/home" }}{{ copy_faq_button }}{{ /get_content }}</a></div>
			{{ endif }}
		</div>
	</div>
</div>