<div class="download-box">
	<h3>{{ get_content from="/signup" }}{{ copy_header|smartypants }}{{ /get_content }}</h3>
	<!-- Begin MailChimp Signup Form -->
	<div id="mc_embed_signup">
		<form action="{{ get_content from="/settings" }}{{ subscription_action_url }}{{ /get_content }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>			
			<input type="email" placeholder="{{ get_content from="/signup" }}{{ copy_field_placeholder }}{{ /get_content }}" value="" name="EMAIL" class="required email" id="mce-EMAIL">
			<input type="submit" value="{{ get_content from="/signup" }}{{ copy_button }}{{ /get_content }}" name="subscribe" id="mc-embedded-subscribe" class="button round">
		</form>
	</div>
	<!--End mc_embed_signup-->
	<p class="p-smaller">
		{{ get_content from="/signup" }}{{ copy_instructions|smartypants }}{{ /get_content }}
	</p>
</div>