/*==================================================================================================
Blog Type Theme 06: Open Sans + Arvo
==================================================================================================*/
$blog-sidebar-header-font-family: $font-name2, $font-stack;
$blog-sidebar-header-font-weight: bold;
$blog-sidebar-header-font-style: normal;
$blog-sidebar-header-font-size: emCalc(18px);
$blog-sidebar-header-line-height: 1.2;
$blog-sidebar-header-letter-spacing: 0;
$blog-sidebar-header-text-transform: none;

$blog-sidebar-link-font-family: $font-name1, $font-stack;
$blog-sidebar-link-font-weight: normal;
$blog-sidebar-link-font-style: normal;
$blog-sidebar-link-font-size: emCalc(16px);
$blog-sidebar-link-line-height: 1.6;
$blog-sidebar-link-letter-spacing: 0;
$blog-sidebar-link-text-transform: none;

$blog-headline-font-family: $font-name2, $font-stack;
$blog-headline-font-weight: bold;
$blog-headline-font-style: normal;
$blog-headline-font-size: emCalc(30px);
$blog-headline-font-size-small: emCalc(24px);
$blog-headline-line-height: 1.3;
$blog-headline-letter-spacing: 0;
$blog-headline-text-transform: none;

$blog-date-font-family: $font-name1, $font-stack;
$blog-date-font-weight: normal;
$blog-date-font-style: italic;
$blog-date-font-size: emCalc(16px);
$blog-date-line-height: 1.2;
$blog-date-letter-spacing: 0;
$blog-date-text-transform: none;

$blog-font-family: $font-name1, $font-stack;
$blog-font-size: emCalc(18px);
$blog-font-size-small: emCalc(14px);
$blog-line-height: 1.6;

$blog-subheader-font-family: $font-name2, $font-stack;
$blog-subheader-font-weight: bold;
$blog-subheader-font-style: normal;
$blog-subheader-font-size: emCalc(21px);
$blog-subheader-line-height: 1.3;
$blog-subheader-letter-spacing: 0;
$blog-subheader-text-transform: none;

$blog-nav-font-family: $font-name2, $font-stack;
$blog-nav-font-weight: normal;
$blog-nav-font-style: normal;
$blog-nav-font-size: emCalc(16px);
$blog-nav-line-height: 1.2;
$blog-nav-letter-spacing: 0;
$blog-nav-text-transform: none;

$blog-archive-font-family: $font-name2, $font-stack;
$blog-archive-font-weight: bold;
$blog-archive-font-style: normal;
$blog-archive-font-size: emCalc(16px);
$blog-archive-line-height: 1.7;
$blog-archive-letter-spacing: 0;
$blog-archive-text-transform: none;

$blog-archive-date-font-family: $font-name1, $font-stack;
$blog-archive-date-font-weight: normal;
$blog-archive-date-font-style: italic;
$blog-archive-date-font-size: emCalc(14px);
$blog-archive-date-line-height: 1.3;
$blog-archive-date-letter-spacing: 0;
$blog-archive-date-text-transform: none;