/*==================================================================================================
Master Color Theme 00
==================================================================================================*/
$color-highlight: #000000;
$color-dark: #000000;
$color-light: #000000;

$color-light-on-dark-90: #000000;
$color-light-on-dark-80: #000000;
$color-light-on-dark-70: #000000;
$color-light-on-dark-60: #000000;
$color-light-on-dark-50: #000000;
$color-light-on-dark-40: #000000;
$color-light-on-dark-30: #000000;
$color-light-on-dark-20: #000000;
$color-light-on-dark-15: #000000;
$color-light-on-dark-10: #000000;
$color-light-on-dark-05: #000000;

$color-dark-on-light-90: #000000;
$color-dark-on-light-80: #000000;
$color-dark-on-light-70: #000000;
$color-dark-on-light-60: #000000;
$color-dark-on-light-50: #000000;
$color-dark-on-light-40: #000000;
$color-dark-on-light-30: #000000;
$color-dark-on-light-20: #000000;
$color-dark-on-light-15: #000000;
$color-dark-on-light-10: #000000;
$color-dark-on-light-05: #000000;