/*==================================================================================================
Master Color Theme 09
==================================================================================================*/
$color-highlight: #0945b7;
$color-dark: #041c49;
$color-light: #d7e4f5;

$color-light-on-dark-90: #c2d0e4;
$color-light-on-dark-80: #adbcd3;
$color-light-on-dark-70: #98a8c2;
$color-light-on-dark-60: #8394b0;
$color-light-on-dark-50: #6e809f;
$color-light-on-dark-40: #586c8e;
$color-light-on-dark-30: #44587d;
$color-light-on-dark-20: #2e446b;
$color-light-on-dark-15: #233a63;
$color-light-on-dark-10: #1a305b;
$color-light-on-dark-05: #0f2652;

$color-dark-on-light-90: #19305a;
$color-dark-on-light-80: #2e446b;
$color-dark-on-light-70: #43587c;
$color-dark-on-light-60: #586c8e;
$color-dark-on-light-50: #6d809f;
$color-dark-on-light-40: #8394b0;
$color-dark-on-light-30: #97a8c1;
$color-dark-on-light-20: #adbcd3;
$color-dark-on-light-15: #b8c6db;
$color-dark-on-light-10: #c1d0e3;
$color-dark-on-light-05: #ccdaec;