<div>
	<div class="row first-row">
		<div class="small-12 medium-9 large-8 columns small-centered">		
			<article>
				<h1>{{ title }}</h1>
				<h6 class="date">{{ date }}</h6>
				{{ theme:partial src="_blog_top" }}
				{{ content }}
				{{ theme:partial src="_blog_bottom" }}
			</article>
			{{ if categories|length > 0 }}<p>{{ get_content from="/blog" }}<strong>{{ copy_blog_tags }}:</strong>{{ /get_content }} {{ categories_url_list }}</p>{{ endif }}
							
			<div class="related-posts">
				{{ entries:listing folder="blog" limit="1" conditions="categories:{categories_option_list}, url:not {page_url}" sort_by="random" }}
				{{ if total_results > 0 }}
				<h5>{{ get_content from="/blog" }}{{ copy_blog_related_posts }}{{ /get_content }}</h5>
				{{ endif }}
				{{ /entries:listing }}
				<ul>
					{{ entries:listing folder="blog" limit="3" conditions="categories:{categories_option_list}, url:not {page_url}" sort_by="random" }}
					{{ if total_results > 0 }}
					<li><a href="{{ url }}">{{ title }}</a></li>
					{{ endif }}
					{{ /entries:listing }}
				</ul>
			</div>		
			<p><a href="/{{ segment_1 }}">{{ get_content from="/blog" }}&larr; {{ copy_blog_home }}{{ /get_content }}</a></p>
			
			{{ if has_comments }}
			<div class="comments">
				{{ disqus:comments account="{disqus_account_name}" }}
			</div>
			{{ endif }}
			
		</div>
	</div>
</div>