/*==================================================================================================
Foundation Variables
==================================================================================================*/
@import "foundation/functions";
$rem-base: 16px;

$row-width: 70.5em;
$column-gutter: 3em;
$block-grid-default-spacing: $column-gutter;
$global-radius: 1px;
$global-rounded: 4px;
$shiny-edge-size: 0;
$button-function-factor: 100%;
$button-border-width: 0;
$button-border-style: none;
$button-disabled-opacity: 0.4;
$form-spacing: rem-calc(24px);
$form-label-pointer: text;
$input-box-shadow: inset 0 0 0 rgba(0,0,0,0);
$input-include-glowing-effect: false;
$cursor-default-value: "default";
$h1-font-size: rem-calc(36px);
$h2-font-size: rem-calc(30px);
$h3-font-size: rem-calc(24px);
$h4-font-size: rem-calc(21px);
$h5-font-size: rem-calc(18px);
$h6-font-size: 1em;

// Media Query Ranges
$small-range: (0em, 40em);
$medium-range: (40.063em, 64em);
$large-range: (64.063em, 90em);
$xlarge-range: (90.063em, 120em);
$xxlarge-range: (120.063em);

$screen: "only screen";

$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$small-up: $screen;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})";

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";

// Legacy
$small: $medium-up;
$medium: $medium-up;
$large: $large-up;

$include-open-sans: false;



/*==================================================================================================
Import
==================================================================================================*/
@import "themes/type_07";
@import "themes/color_01";
@import "master/blog";



/*==================================================================================================
Global
==================================================================================================*/

html {
	background-color: $body-bg !important;
}

a {
	@include transition-color;
}

p a, li a, h1 a {
	@include transition-border;
	border-bottom: 1px solid $color-link-underline;
	padding-bottom: 1px;
}

p a:hover, li a:hover, h1 a:hover {
	@include transition-color;
	color: $color-highlight;
	border-bottom: 1px solid $color-highlight;
}

a img:hover {
	border: none;
}

.button {
	font-family: $button-font-family;
	font-weight: $button-font-weight;
    font-style: $button-font-style;
	font-size: $button-font-size !important;
	line-height: $button-line-height;
	letter-spacing: $button-letter-spacing;
	text-transform: $button-text-transform;
	line-height: 1.3 !important;
}

a.button {
	background-color: $color-section-button;
	padding-top: 1em !important;
	padding-bottom: 1em !important;
}

a.button:hover {
	background-color: $color-section-button-hover;
}

input.button, a.button {
	padding-left: 1.25em;
	padding-right: 1.25em;
}

.p-small {
	font-size: $p-small-font-size;
	line-height: $p-small-line-height;
}

.p-smaller {
	font-size: $p-smaller-font-size;
	line-height: $p-smaller-line-height;
}

ul.inline-list-custom li {
	margin-left: 0 !important;
}

ul li {
	margin-left: 0.25em;
	padding-bottom: 1em;
}

ol li {
	margin-left: 0.25em;
	padding-bottom: 1em;
}

.boxed {
	border: 1px solid $color-box-border;
	padding: 1em;
}

div hr {
	margin-top: 2em;
	margin-bottom: 2em;
}

.row blockquote {
	border-left: 1px solid $hr-border-color;
}

.row blockquote p, .row blockquote {
	color: $body-font-color;
	font-style: italic;
}

.row blockquote p cite a {
	color: $body-font-color;
}

.row blockquote p cite a:hover {
	color: $color-highlight;
}

.row blockquote cite {
	font-weight: bold;
	font-style: normal;
	color: $body-font-color;
	font-size: 1em;
	margin-top: 1em;
}

div h1, div h2, div h3, div h4, div h5, div h6 {
	font-weight: bold;
}

div div div h3 {
	font-family: $body-header1-font-family;
	font-weight: $body-header1-font-weight;
    font-style: $body-header1-font-style;
	font-size: $body-header1-font-size;
	line-height: $body-header1-line-height;
	letter-spacing: $body-header1-letter-spacing;
	text-transform: $body-header1-text-transform;
	margin-bottom: 0.625em;
}

div div div h4 {
	font-family: $body-header2-font-family;
	font-weight: $body-header2-font-weight;
    font-style: $body-header2-font-style;
	font-size: $body-header2-font-size;
	line-height: $body-header2-line-height;
	letter-spacing: $body-header2-letter-spacing;
	text-transform: $body-header2-text-transform;
	margin-bottom: 0.625em;	
}

.caption {
	@extend .p-small;
	margin-top: -0.5em;
}

.social-inline {
	margin-left: 0;
}

.social-inline li {
	display: block;
	float: left;
	margin-left: 0;
	margin-right: 1.5em;
	vertical-align: top !important;
}

.social-inline li:first-child {
	margin-right: 0;
}

.social-inline li span {
	vertical-align: top !important;
}



/*==================================================================================================
Header & Nav
==================================================================================================*/

header {
	background-color: $color-header-bg;
	padding-top: 3em;
	padding-bottom: 2.5em;
}

header div.logo {
	text-align: center;
}

header h2 {
	font-family: $logo-font-family;
	font-weight: $logo-font-weight;
    font-style: $logo-font-style;
	font-size: $logo-font-size-small;
	line-height: $logo-line-height;
	letter-spacing: $logo-letter-spacing;
	text-transform: $logo-text-transform;
	text-align: center;
	color: $color-logo;
}

header h2 a {
	text-decoration: none;
	color: $color-logo;
	padding: 0.5em;
	border: 2px solid $color-logo-border;
}

header h2 a:hover, header h2 a:focus {
	color: $color-logo;
}

nav {
	background-color: $color-nav-bg;
	border-top: 1px solid $color-nav-border-top;
	border-bottom: 1px solid $color-nav-border-bottom;
	@include transition-background-color;
}

nav ul {
	text-align: center;
	padding-top: 0.6em;
	margin-bottom: 0.4em;
	margin-left: 0;
}

nav ul li {
	font-family: $nav-font-family;
	font-weight: $nav-font-weight;
    font-style: $nav-font-style;
	font-size: $nav-font-size;
	line-height: $nav-line-height;
	letter-spacing: $nav-letter-spacing;
	text-transform: $nav-text-transform;
	display: inline-block;
	padding-left: 1em;
	margin-right: 1em;	
	margin-left: 0;
	padding-bottom: 0;
}

nav li a {
	color: $color-nav !important;
	@include transition-color;
}

nav li a:hover {
	color: $color-nav-hover !important;
}

nav ul li a, nav ul li a:hover {
	border: none;
}

a.current {
	color: $color-nav-current !important;
	pointer-events: none;
	border-bottom: none;
}

a.current:hover {
	color: $color-nav-current !important;
}

p a {
	@include transition-color;
}


/*==================================================================================================
Body
==================================================================================================*/

.first-row {
	padding-top: 4em;
	padding-bottom: 4em;
}

.section-headline {
	background-color: $color-section-headline-bg !important;
	padding-top: 3.5em;
	padding-bottom: 0.75em;
	@include transition-background-color;
}

.section-bg-color1 {
	background-color: $color-section-bg-color1;
}

.section-bg-color2 {
	background-color: $color-section-bg-color2;
}

.section-headline h1 {
	font-family: $headline-font-family;
	font-weight: $headline-font-weight;
    font-style: $headline-font-style;
	font-size: $headline-font-size-small;
	line-height: $headline-line-height;
	letter-spacing: $headline-letter-spacing;
	text-transform: $headline-text-transform;	
	text-align: center;
	color: $color-headline;
}

.section-headline h1 a {
	color: $color-headline;
}

.section-headline h1 a:hover {
	color: $color-highlight;
}

.section-headline h5 {
	font-family: $subheadline-font-family;
	font-weight: $subheadline-font-weight;
    font-style: $subheadline-font-style;
	font-size: $subheadline-font-size;
	line-height: $subheadline-line-height;
	letter-spacing: $subheadline-letter-spacing;
	text-transform: $subheadline-text-transform;	
	text-align: center;
	color: $color-subheadline;
	padding-bottom: 3em;
}

.section-hero {
	padding-top: 4em;
	padding-bottom: 2.5em;
	border-top: 1px solid $color-section-border;
	@include transition-background-color;
}

a.no-underline, a.no-underline:hover {
	border-bottom: none;
	text-decoration: none;
}

.templates {
	margin-top: -1em;
	margin-bottom: 1em;
	@include transition-background-color;
}

.templates h3 {
	font-size: $templates-header-font-size !important;
	margin-bottom: 0.25em;
}

.templates h3:nth-of-type(2) {
	padding-top: 0.25em;
}

.section-hero img {
	margin-top: 0.25em;
	margin-bottom: -0.75em;
}

.section-one-img {
	padding-top: 3em;
	padding-bottom: 2em;
	border-top: 1px solid $color-section-border;
	@include transition-background-color;
}

.section-one-img h3 {
	padding-bottom: 0.25em;
}

.section-one-img p {
	padding-top: 1.25em;
}

.section-four-img {
	padding-top: 3em;
	padding-bottom: 3.5em;
	border-top: 1px solid $color-section-border;
}

.section-four-img div div ul li {
	margin-bottom: 0;
	padding-bottom: 1em;
}

.section-four-img p {
	padding-top: 0;
}

.section-features {
	padding-top: 3em;
	padding-bottom: 3em;
	border-top: 1px solid $color-section-border;
}

.section-features h3 {
	margin-bottom: 0;
}

.feature-box {
	border: 1px solid $color-feature-box-border;
	padding: 1em;
	padding-bottom: 1.25em;
	margin-top: 1em;
	margin-bottom: 2em;
}

div div div .feature-box h4 {
	margin-top: 0.5em;
	margin-bottom: 0.25em;
	padding-bottom: 0;
}

.feature-box p, .feature-box li {
	font-size: $p-small-font-size;
	line-height: $p-small-line-height;
	margin-bottom: 0.5em;
}

.section-steps {
	padding-top: 3em;
	padding-bottom: 3em;
	border-top: 1px solid $color-section-border;
}

.step-holder {
	padding-top: 0.5em;
	padding-bottom: 1em;
}

.step {
	float: left;
	margin-right: 1em;
	margin-bottom: 0;	
	border-radius: 50%;
	width: 3.5em;
	height: 3.5em;
	background-color: $color-step-bg;
	display: table;
}

.step-number {
	font-family: $step-number-font-family;
	font-weight: $step-number-font-weight;
    font-style: $step-number-font-style;
	font-size: $step-number-font-size;
	line-height: $step-number-line-height;
	letter-spacing: $step-number-letter-spacing;
	text-transform: $step-number-text-transform;
	color: $color-step-number;
	text-align: center;
	padding: 0;
	margin: 0;
	display: table-cell;
	vertical-align: middle;
}

.section-features-pricing {
	padding-top: 3em;
	padding-bottom: 2em;
	border-top: 1px solid $color-section-border;
}

.pricing {
	text-align: center;
}

div div div.pricing h4 {
	margin-bottom: 1em;
}

.pricing ul {
	list-style-type: none;
	margin-left: 0;
}

.pricing ul li {
	margin-left: 0 !important;
	padding-left: 0 !important;
	margin-bottom: 0.75em;
	padding-bottom: 0.5em;
}

.pricing-footer {
	text-align: center;
}

.section-html {
	padding-top: 3em;
	padding-bottom: 3em;
	border-top: 1px solid $color-section-border;
}

.section-faq {
	padding-top: 3em;
	padding-bottom: 3em;
	border-top: 1px solid $color-section-border;
}

.questions li p {
	margin-top: 0.75em;
	margin-bottom: -1em;
}

.section-btn {
	padding-top: 2em;
	text-align: center;
}

.section-btn .button {
	background-color: $color-section-button;
	padding-top: 1em !important;
	padding-bottom: 1em !important;
}

.section-btn .button:hover {
	background-color: $color-section-button-hover;
}



/*==================================================================================================
Download Box
==================================================================================================*/

.download-box {
	background-color: $color-download-box-bg;
	padding: 2em;
	padding-bottom: 1em;
	border-radius: 8px;
	@include transition-background-color;
}

.download-box .button {
	background-color: $color-download-box-button;
}

.download-box h3, .download-box p {
	color: $color-download-box-text;
}

.download-box p.p-small {
	margin-top: -0.5em;
}

.download-box .button:hover, .download-box .button:focus {
	background-color: $color-download-box-button-hover !important;
	border: none;
}

.download-box .p-smaller {
	margin-top: 1em;
	border: 1px solid $color-download-box-border;
	padding: 1em;
}



/*==================================================================================================
Footer
==================================================================================================*/

footer {
	padding-top: 6em;
	padding-bottom: 4em;
	border-top: 1px solid $color-section-border;
}

footer ul {
	text-align: center;
}

footer li {
	font-family: $footer-font-family;
	font-weight: $footer-font-weight;
    font-style: $footer-font-style;
	font-size: $footer-font-size;
	line-height: $footer-line-height;
	letter-spacing: $footer-letter-spacing;
	text-transform: $footer-text-transform;
	display: inline-block;
	padding-left: 1em;
	margin-right: 1em;
	color: $color-footer-text;
	margin-bottom: 1em;
}

footer li a {
	color: $color-footer-text;
	@include transition-color;
}

footer div.social-icons {
	text-align: center;
}

footer div.social-icons i {
	padding-left: 0.25em;
	padding-right: 0.25em;
	color: $color-footer-text;
	border: none !important;
	text-shadow: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

footer div.social-icons a:hover i {
	color: $color-highlight;
	@include transition-color;
}

footer div.social-icons a i {
	@include transition-color;
}

.footer-badge {
	text-align: center;
	padding-top: 2em;
}



/*==================================================================================================
Media Queries
==================================================================================================*/

@media #{$small} {

	header h2 {
		font-size: $logo-font-size;
	}

	.section-headline h1 {
		font-size: $headline-font-size;
	}
	
}